<div class="left-menu">
  <div class="left-menu-item">
    <div class="left-menu-item-icon">
      <span class="badge badge-primary">new</span>
    </div>
    <div class="left-menu-item-text">
      <%= link_to "#", class: "left-menu-item-link" do %>
        Offers to review
        <span class="light">(67)</span>
      <% end %>
    </div>
  </div>
  <div class="left-menu-item">
    <div class="left-menu-item-icon text-danger">
      <i class="fas fa-flag"></i>
    </div>
    <div class="left-menu-item-text">
      <%= link_to "#", class: "left-menu-item-link" do %>
        Pending
        <span class="light">(55)</span>
      <% end %>
    </div>
  </div>
  <div class="left-menu-item">
    <div class="left-menu-item-icon text-success">
      <i class="far fa-check-circle"></i>
    </div>
    <div class="left-menu-item-text">
      <%= link_to "#", class: "left-menu-item-link" do %>
        Applied
        <span class="light">(2)</span>
      <% end %>
    </div>
  </div>
  <div class="left-menu-item">
    <div class="left-menu-item-icon text-gray">
      <i class="fas fa-trash"></i>
    </div>
    <div class="left-menu-item-text">
      <%= link_to "#", class: "left-menu-item-link" do %>
        Trash
      <% end %>
    </div>
  </div>
  <div class="left-menu-item">
    <div class="left-menu-item-icon">
      <i class="far fa-calendar-alt"></i>
    </div>
    <div class="left-menu-item-text">
      <%= link_to "#", class: "left-menu-item-link" do %>
        Calendrier
      <% end %>
    </div>
  </div>
</div>
