<div id="criterium" class="center-content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>My Profile</h2>
      </div>
    </div>
    <div class= "row mb-0">
      <div class="p-1 col-lg-6 mb-2">
        <div class="p-3 light-box">
          <h4>Criteria</h4>
          <div class="d-flex flex-column justify-content-between">
            <div class="section-content mb-4">
              <%= component 'radar', importances_values: @importances_values %>
            </div>
            <div class="profile-edit-criteria mb-3">
              <div class="d-flex justify-content-around">
                <%= link_to 'Modify Criteria', edit_importance_path(id: Importance.names.keys.first.to_sym), class: 'btn btn-primary' %>
                <%= link_to 'Modify Importances', importances_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 col-lg-3 col-md-6 mb-2">
        <div class="p-3 light-box">
          <div class="profile-applications-status">
            <h4>Status</h4>
            <div class="d-flex flex-column">
              <div class="pl-1 pr-1 profile-not-reviewed d-flex justify-content-between">
                <%= link_to 'Not reviewed', opportunities_review_path, class: 'text-dark'%>
                <p><%= @user_opportunities.where(status: :review).count %></p>
              </div>
              <div class="pl-1 pr-1  profile-pending d-flex justify-content-between">
                <%= link_to 'Pending', opportunities_pending_path, class: 'text-dark'%>
                <p><%= @user_opportunities.where(status: :pending).count %></p>
              </div>
              <div class="pl-1 pr-1  profile-applied d-flex justify-content-between">
                <%= link_to 'Applied', opportunities_applied_path, class: 'text-dark'%>
                <p><%= @user_opportunities.where(status: :applied).count %></p>
              </div>
              <div class="pl-1 pr-1  profile-deadlines d-flex justify-content-between text-danger">
                <%= link_to 'Calendar', events_path, class: 'text-danger'%>
                <% if current_user.events.size.nil? %>
                  <p>0</p>
                <% else %>
                  <p><%= current_user.events.size  %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1 col-lg-3 col-md-6 mb-2">
        <div class="p-3 light-box">
          <div class="profile-settings">
            <h4>Settings</h4>
            <div class="d-flex flex-column align-items-center">
              <div>
                <div class="settings-icon mt-1 mb-3">
                  <i class="fas fa-cog fa-7x" style="color: #adb5bd"></i>
                </div>
                <div class="button-settings mb-3">
                <%= link_to 'Settings', edit_user_registration_path, class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
