<div class="left-menu">
  <%= link_to opportunities_review_path, class: "left-menu-item-link" do %>
    <div class="left-menu-item">
      <div class="left-menu-item-icon">
        <span class="badge badge-primary">new</span>
      </div>
      <div class="left-menu-item-text">
          Offers to review
          <span id="opportunity-number-review" class="opportunity-number light">(67)</span>
      </div>
    </div>
  <% end %>
  <%= link_to opportunities_pending_path, class: "left-menu-item-link" do %>
    <div class="left-menu-item">
      <div class="left-menu-item-icon text-danger">
        <i class="fas fa-flag"></i>
      </div>
      <div class="left-menu-item-text">
          Pending
          <span id="opportunity-number-pending" class="opportunity-number light">(55)</span>
      </div>
    </div>
  <% end %>
  <%= link_to opportunities_applied_path, class: "left-menu-item-link" do %>
    <div class="left-menu-item">
      <div class="left-menu-item-icon text-success">
        <i class="fa fa-check-circle"></i>
      </div>
      <div class="left-menu-item-text">
          Applied
          <span id="opportunity-number-apply" class="opportunity-number light">(2)</span>
      </div>
    </div>
  <% end %>
  <%= link_to opportunities_trash_path, class: "left-menu-item-link" do %>
    <div class="left-menu-item">
      <div class="left-menu-item-icon text-gray">
        <i class="fas fa-trash"></i>
      </div>
      <div class="left-menu-item-text">
          Trash
      </div>
    </div>
  <% end %>
  <%= link_to events_path, class: "left-menu-item-link" do %>
    <div class="left-menu-item">
      <div class="left-menu-item-icon">
        <i class="far fa-calendar-alt"></i>
      </div>
      <div class="left-menu-item-text">
          Calendar
      </div>
    </div>
  <% end %>
</div>
