<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">
<meta property="og:title" content="<%= meta_title %>" />
<!-- Facebook Open Graph data -->
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:image" content="<%= asset_pack_path 'images/banner-suricat2-og.jpg' %>" />
<meta property="og:description" content="<%= meta_description %>" />
<meta property="og:site_name" content="<%= meta_title %>" />
<!-- Facebook Open Graph data -->
<link href="<%= asset_pack_path 'images/Extension128x128.ico' %>" rel="shortcut icon" type="image/x-icon" />
