<div class='job-offer-user-infos section-content'>
  <table>
    <tr>
      <th scope="row">
        Status
      </td>
      <td>
        <%= opportunity.status_for_display %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Deadline
      </td>
      <td>
        <%= opportunity.deadline %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Start date
      </td>
      <td>
        <%= opportunity.start_date %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Contract
      </td>
      <td>
        <%= opportunity.contract_type_for_display %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Structure
      </td>
      <td>
        <%= opportunity.company_structure_for_display %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Industry
      </td>
      <td>
        <%= opportunity.sector_name %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Salary
      </td>
      <td>
        <%= opportunity.salary %> K€
      </td>
    </tr>
  </table>
</div>
<!--
<div class='job-offer-map'>
  <img src="https://medias2.prestastore.com/653546-pbig/google-map-api-v3.jpg" alt="image-test">
</div>
<div class='job-offer-alumnis section-content'>
  <h3>Alumni Contacts</h3>
  <p>Adrien worked here in 2012</p>
  <p>adrien@gmail.com</p>
</div>
-->
