<div class='job-offer-user-infos section-content'>
  <table>
    <tr>
      <th scope="row">
        Status
      </td>
      <td>
        <%= t("opportunity.status.#{opportunity.status}") %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Deadline
      </td>
      <td>
        <%= opportunity.deadline %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Start date
      </td>
      <td>
        <%= opportunity.start_date %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Contract
      </td>
      <td>
        <%= t("opportunity.contract_type.#{opportunity.contract_type}") %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Structure
      </td>
      <td>
        <%= t("company.structure.#{opportunity.company_structure}") %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Industry
      </td>
      <td>
        <%= opportunity.sector_name %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Salary
      </td>
      <td>
        <%= opportunity.salary.nil? ? 'N/A' : "#{opportunity.salary}  €" %>
      </td>
    </tr>
  </table>
</div>
