<% unless @status.nil? %>
  <% if @status == :review %>
    <h1><span class="badge badge-primary">new</span> Offers to <%= @status%></h1>
  <% elsif @status == :pending %>
    <h1><i class="fas fa-flag text-danger"></i> <%= @status.capitalize %> offers</h1>
    <% elsif @status == :applied %>
    <h1><i class="fa fa-check-circle text-success"></i> <%= @status.capitalize %> offers</h1>
  <% else %>
    <h1><i class="fas fa-trash text-gray"></i> <%= @status.capitalize %></h1>
  <% end %>
<% end %>

<% unless @user_opportunities_displayed.nil? %>
  <% @user_opportunities_displayed.each do |user_opportunity| %>
    <%= component 'job_card', opportunity: user_opportunity %>
  <% end %>
<% end %>
