<% unless @status.nil? %>
  <% if @status == :review %>
    <h2><span class="badge badge-primary">new</span> Offers to <%= @status %></h2>
  <% elsif @status == :pending %>
    <h2><i class="fas fa-flag text-danger"></i> <%= @status.capitalize %> offers</h2>
    <% elsif @status == :applied %>
    <h2><i class="fa fa-check-circle text-success"></i> <%= @status.capitalize %> offers</h2>
  <% else %>
    <h2><i class="fas fa-trash text-gray"></i> <%= @status.capitalize %></h2>
  <% end %>
<% end %>

<div id="job-cards" data-step="3" data-intro="<%= t('intro.joblist') %>">
  <div class="controls">
    <!-- class="search" automagically makes an input a search field. -->
    <input class="search form-control" placeholder="Search" />
    <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
    <button class="sort btn btn-secondary" data-sort="jobcard-auto-grade">
      Sort by grade
    </button>
  </div>

  <% unless @user_opportunities_displayed.nil? %>
    <ul class="list list-unstyled">
    <% @user_opportunities_displayed.each do |user_opportunity| %>
      <li>
        <%= component 'job_card', opportunity: user_opportunity %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
<script>const intro = <%= @intro ? 'true' : 'false' %>;</script>
