<div id="mobile-nav" class="d-md-none">
  <%= component 'left_menu' %>
</div>
<div id="job-container" class="row">
  <div class="col">
    <div class="job-offer">
      <div class="row">

        <div class="col-lg-12">
          <div class="row">

            <div class="col">
              <div class="job-offer-top">
                <% unless @user_opportunity.logo.nil? %>
                  <%= image_tag @user_opportunity.logo, class: 'img-center' %>
                <% end %>
                <div class="job-offer-top--description">
                  <h3><%= sanitize @user_opportunity.title %></h3>
                  <h4><%= sanitize @user_opportunity.company_name %></h4>
                </div>
              </div>
            </div>

            <div class="col right-side text-right">
              <div class="job-offer-top--companylink">
                <%= link_to 'Apply', @user_opportunity.url, class: 'btn btn-primary' %>
              </div>
              <div class="job-offer-top--grades">
                <strong><%= @user_opportunity.personnal_grade %>/5</strong>
                <strong><%= @user_opportunity.automatic_grade %>/5</strong>
              </div>
            </div>

          </div>
        </div>



        <div class="col-sm-12 d-md-none">
          <%= render partial: 'shared/opportunity_info', locals: { opportunity: @user_opportunity } %>
        </div>

        <div class="col-sm-12">
          <div class="job-offer-job--description">
            <h4>Job description</h4>
            <p class="text-justify">
              <%= sanitize @user_opportunity.job_description %>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="job-info d-none d-md-block">
    <%= render partial: 'shared/opportunity_info', locals: { opportunity: @user_opportunity } %>
    <div class="mt-2" id="map" style="width: 100%; height: 40%" data-marker="<%= @marker.to_json %>"></div>
  </div>
</div>
