<div id="job-container" class="row">
  <div class="col">
    <div class="job-offer">
      <div class="row">

        <div class="col-lg-9">
          <div class="job-offer-top">
            <%= image_tag asset_pack_path('images/logo-fb-noir.png'), class: 'img-center' %>
            <div class="job-offer-top--description">
              <h2><%= @user_opportunity.job_title %></h2>
              <h4><%= @user_opportunity.company_name %></h4>
            </div>
          </div>
        </div>


        <div class="col-lg-3 text-right">
          <div class="job-offer-top--companylink">
            <%= link_to 'Apply', @user_opportunity.url, class: 'btn btn-primary' %>
          </div>
          <div class="job-offer-top--grades">
            <strong><%= @user_opportunity.personnal_grade %>/5</strong>
            <strong><%= @user_opportunity.automatic_grade %>/5</strong>
          </div>
        </div>

        <div class="col-sm-12 d-md-none">
          <%= render partial: 'shared/opportunity_info', locals: { opportunity: @user_opportunity } %>
        </div>

        <div class="col-sm-12">
          <div class="job-offer-job--description">
            <h2>Company Information</h2>
            <p class="text-justify">
              <%= @user_opportunity.job_description %>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="job-info d-none d-md-block">
    <%= render partial: 'shared/opportunity_info', locals: { opportunity: @user_opportunity } %>
    <div class="mt-2" id="map" style="width: 100%; height: 40%" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
