<div id="home">
  <div class="banner-container">
    <div class="banner p-0" style="background-image: url(<%= asset_pack_path 'media/images/banner-suricat.jpg' %>);">
      <div class="container">
        <div id="banner-content" class="row justify-content-center">
          <div class="col-lg-6 offset-lg-4 col-md-6 offset-md-4 col-xs-12">
            <h1>Manage all your job opportunities</h1>
            <h4>Save, gather and keep track of all your job opportunities in one place</h4>
          </div>
          <div class="col-lg-6 offset-lg-4 col-md-6 offset-md-4 col-xs-12">
            <div id="btn-row" class="row justify-content-center">
              <div class="col-md-6 col-sm-12 mb-2">
                <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path, class: "btn btn-primary border-light" %>
              </div>
              <div class="col-md-6 col-sm-12 mb-2">
                <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>

  <div id="subtitle-banner" class="wrapper-banner">
    <div class="content">
      <div class="row justify-content-center m-0">
        <h5>Looking for your first position is always a stressful time.</h5>
        <h5>Keep calm, here is Suricat !</h5>
      </div>
    </div>
  </div>


  <div class="wrapper-banner" id="wrapper-banner">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="wrapper-content">
          <div class="home-img"><%= image_tag asset_pack_path('media/images/1-criteria.png'), height: 100, class: 'img-center' %></div>
          <p>Add every offer from your favorite job websites to your Suricat platform.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="wrapper-content">
          <div class="home-img"><%= image_tag asset_pack_path('media/images/2-add.png'), height: 100, class: 'img-center' %></div>
          <p>Manage your personal dashboard gathering all opportunities you might be interested in.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="wrapper-content">
          <div class="home-img"><%= image_tag asset_pack_path('media/images/3-dashboard.png'), height: 100, class: 'img-center' %></div>
          <p>Get instant access to data on your job opportunities but also on sectorized data and related offers.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="wrapper-content">
          <div class="home-img"><%= image_tag asset_pack_path('media/images/4-recommandation.png'), height: 100, class: 'img-center' %></div>
          <p>Get recommanded job offers and find the most suited position.</p>
        </div>
      </div>
    </div>
  </div>
</div>
