<div class="flex-sign">
  <h1> Your Criteria </h1>
  <h2> Let us know more about you to build your profil: </h2>


  <div id="mydiv" class="card-question section-content">

    <h3> <%= @importance.name_for_display %> </h3>
    <%= simple_form_for @importance, url: importance_path(id: @importance.name) do |f| %>

      <%= f.simple_fields_for :criteria, Criterium.new do |criterium| %>

        <% if @importance.name.to_sym == :contract_type %>
          <%= criterium.input :value, multiple: true,
            collection: Opportunity.contract_types,
            selected: @current_values,
            input_html: {
              title: "Pick one or more items",
              multiple:true
            } %>

        <% elsif @importance.name.to_sym == :company_structure %>
          <%= criterium.input :value, multiple: true,
            collection: Company.structures,
            selected: @current_values,
            as: :select,
            input_html: {
              title: "Pick one or more items",
              multiple:true
            } %>

        <% elsif @importance.name.to_sym == :sector_name %>
          <%= criterium.input :value, multiple: true,
            collection: SectorCategory.all,
            selected: @current_values,
            as: :grouped_select,
            group_method: :sectors,
            input_html: {
              title: "Pick one or more items",
              multiple:true
            } %>

        <% elsif @importance.name.to_sym == :job %>
          <%= criterium.input :value, multiple: true,
            collection: JobCategory.all,
            selected: @current_values,
            as: :grouped_select,
            group_method: :jobs,
            input_html: {
              title: "Pick one or more items",
              multiple:true
            } %>

        <% elsif @importance.name.to_sym == :location %>
          <div class="form-group">
            <input type="text" class="form-control" id="location">
          </div>

        <% else %>

          <%= criterium.input :value %>

        <% end %>

      <% end %>

      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>

  <div class="section-content">
    <ul class="list-unstyled multi-steps">
      <% Importance.names.each do |name, value| %>
        <% if name == @importance.name %>
          <li class="is-active"><%= link_to t("importance.name.#{name}"), edit_importance_path(id: name) %></li>
        <% else %>
          <li><%= link_to t("importance.name.#{name}"), edit_importance_path(id: name) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
