<!DOCTYPE>
<html>
  <head>
    <%= render 'shared/meta'%>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= yield(:head_tags) %>
  </head>
  <body>
    <%= render 'shared/navbar'%>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
