<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar'%>
    <%= render 'shared/flashes' %>
    <div id="page-content-wrapper">
      <% if @sidebar %>
      <%# sidebar is defined in controller with method sidebar? %>
        <div id="sidebar" class="sidebar d-none d-md-block">
          <div class="sidebar-inner position-fixed">
            <%= render 'shared/left_menu' %>
          </div>
        </div>
      <% end %>
      <div id="content" class="content">
        <div class="container-fluid" id="content-container">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
