<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar'%>
      <div class="row">
        <%= render 'shared/left_menu' %>
        <div class="col" id="column-container">
          <div class="container" id="border-container">
            <h1>Menu item</h1>
          </div>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
